body{
	background: linear-gradient(to right, #e91e63,blue);
}
#txt{
     width: 50%;
     height: 35px;
     border-radius: 5px;
     margin-top:10%; 
}
p{
     color: white;
     font-family:Bebas Neue;
     font-size: 60px;
}
button{
    width: 150px;
	height: 50px;
	font-size: 20px;
	border-radius: 5px;
	cursor: pointer;
	background-color:#607d8b;
	color: white;
	border:none; 
}
input:checked+label {
    text-decoration: line-through;
    /*color: red;*/
}
